:root {
  --vp-c-brand: var(--vp-c-red);
  --vp-c-brand-light: var(--vp-c-red-light);
  --vp-c-brand-lighter: var(--vp-c-red-lighter);
  --vp-c-brand-dark: var(--vp-c-red-dark);
  --vp-c-brand-darker: var(--vp-c-red-darker);
}